@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin',sans-serif;

}
body    {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #25252b;
}

.box    {
    position: relative;
    width: 400px;
    height: 200px;
    background: repeating-conic-gradient(from 0deg,#ff2770 0%,#ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

}